
    body {
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  font-family: inter,sans-serif;
}

   